<div class="modal-header">
  <h2 class="modal-title mat-dialog-title" mat-dialog-title *ngIf="data.profil">Update Profile</h2>
  <h2 class="modal-title mat-dialog-title" mat-dialog-title *ngIf="!data.profil">Create a new Profile</h2>
  <button type="button" (click)="close()" class="close-button no-style" tabindex="-1"><i
    class="ft-x font-medium-3 mr-2"></i></button>
</div>

<form autocomplete="off" (submit)="confirm()" *ngIf="errors$ | async as errors" [formGroup]="form" ngNativeValidate>
  <div class="many-inputs mat-dialog-content" mat-dialog-content>
    <div class="input-container">
      <label>Libelle</label>
      <input *ngIf="data.profil" [value]="data.profil.libelle" type="text" formControlName="libelle" required>
      <input *ngIf="!data.profil" type="text" formControlName="libelle" required>
      <!--      <input *ngIf="!data.profil" type="text" formControlName="libelle" required>-->
      <div class="error" *ngIf="errors.libelle">{{errors.libelle}}</div>
    </div>

    <!-- <div class="input-container"> -->
    <label for="filieres">Filieres</label>
    <select class="form-control" formControlName="filieres" id="filieres" multiple>
      <option *ngFor="let fil of filieres$ | async" value="{{fil.nom}}">{{fil.nom}}</option>
    </select>
    <div class="error" *ngIf="errors.filieres">{{errors.filieres}}</div>
    <!-- </div> -->

    <!-- <div class="input-container"> -->
    <label>Professeurs</label>
    <select class="form-control" formControlName="professeurs" id="professeurs" multiple>
      <option *ngFor="let prof of professeurs$ | async" value="{{prof.email}}">{{prof.email}}</option>
    </select>
    <div class="error" *ngIf="errors.professeurs">{{errors.professeurs}}</div>
    <!--    <ng-select [multiple]="true"-->
    <!--               placeholder="Select user or add custom tag" [(ngModel)]="selectedUserIds">-->
    <!--      <ng-option *ngFor="let prof of professeurs$ | async" [value]="prof.email">{{prof.email}}</ng-option>-->
    <!--      <ng-option [value]="'custom'">Custom</ng-option>-->
    <!--    </ng-select>-->
    <div class="setting-container">
      <mat-slide-toggle formControlName="open" id="open">Open</mat-slide-toggle>
      <p>Define if the profile is open</p>
      <div class="error" *ngIf="errors.open">{{errors.open}}</div>
    </div>

  </div>

  <div class="buttons right mat-dialog-actions" mat-dialog-actions>
    <button (click)="close()" type="button" class="button cancel" mat-button>Cancel</button>
    <button type="submit" mat-raised-button color="accent" class="action-button" [disabled]="loading$ | async">
      <span *ngIf="data.profil">Update</span>
      <span *ngIf="!data.profil">Create</span>
    </button>
  </div>
</form>
