<div class="modal-header">
  <h2 class="modal-title mat-dialog-title" mat-dialog-title *ngIf="data.repetition">Update Repetition</h2>
  <h2 class="modal-title mat-dialog-title" mat-dialog-title *ngIf="!data.repetition">Create a new Repetition</h2>
  <button type="button" (click)="close()" class="close-button no-style" tabindex="-1"><i
    class="ft-x font-medium-3 mr-2"></i></button>
</div>

<!--eventId: [''],-->
<!--periodeId: [''],-->
<!--jourOrder: [''],-->
<!--creaneauOrder: [''],-->
<form autocomplete="off" *ngIf="errors$ | async as errors" [formGroup]="form">
  <div class="many-inputs mat-dialog-content" mat-dialog-content>
    <div class="input-container">
      <div class="form-group">
        <label>Event</label>
        <select *ngIf="!this.data.repetition" type="text" formControlName="eventId" required>
          <option value="">Choose Event</option>
          <option *ngFor="let event of all_events" value="{{event.id}}">{{event.nom}}</option>
        </select>
        <select *ngIf="this.data.repetition" type="text" formControlName="eventId" required>
          <option selected="true" value="{{this.data.repetition.event.id}}">{{this.data.repetition.event.nom}}</option>
          <option *ngFor="let event of all_events"
                  value="{{event.id}}">{{event.nom}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Period</label>
        <select *ngIf="!this.data.repetition" type="text" formControlName="periodeId" required>
          <option value="">Choose Period</option>
          <option *ngFor="let periode of periode" value="{{periode.id}}">{{periode.libelle}}</option>
        </select>
        <select *ngIf="this.data.repetition" type="text" formControlName="periodeId" required>
          <option selected="true"
                  value="{{this.data.repetition.periode.id}}">{{this.data.repetition.periode.libelle}}</option>
          <option *ngFor="let periode of periode" value="{{periode.id}}">{{periode.libelle}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>jour</label>
        <select *ngIf="!this.data.repetition" type="text" formControlName="jourOrder" required>
          <option value="">Choose Creneau</option>
          <option *ngFor="let jour of jours" value="{{jour.id}}">{{jour.nom}}</option>
        </select>
        <select *ngIf="this.data.repetition" type="text" formControlName="jourOrder" required>
          <option selected="true" value="{{this.data.repetition.jour}}">{{this.data.repetition.jour}}</option>
          <option *ngFor="let jour of jours" value="{{jour.id}}">{{jour.nom}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="creaneauOrder">Crenaux</label>
        <select *ngIf="!data.repetition" type="text" formControlName="creaneauOrder" id="creaneauOrder" required>
          <option value="">Choose Creneau</option>
          <option *ngFor="let cre of all_crenaux" value="{{cre.id}}">{{cre.heureDeb}} to {{cre.heureFin}}</option>
        </select>
        <select *ngIf="data.repetition" type="text" formControlName="creaneauOrder" required>
          <option selected="true" value="{{this.data.repetition.creneau.id}}">{{this.data.repetition.creneau.heureDeb}}
            +{{this.data.repetition.creneau.heureFin}}</option>
          <option *ngFor="let cre of all_crenaux" value="{{cre.id}}">{{cre.heureDeb}} to {{cre.heureFin}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="buttons right mat-dialog-actions" mat-dialog-actions>
    <button (click)="close()" type="button" class="button cancel" mat-button>Cancel</button>
    <button (click)="confirm()" mat-raised-button color="accent" class="action-button">
      <span *ngIf="data.repetition">Update</span>
      <span *ngIf="!data.repetition">Create</span>
    </button>
  </div>
</form>
