<section id="editing-DataTable" class="mb-3">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">{{title}}</div>
      <p class="content-sub-header">Double click on any content to edit that section.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><a href="javascript:void(0)" (click)="showCrupdateProfile()"
          class="btn btn-raised mr-1 shadow-z-2 btn-primary">Add a new profile</a></p>
    </div>
  </div>
  <!--DataTable With Editing Feature Ends-->
</section>